//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

mixin tip
    i.tip.fa.fa-question-circle(ng-if='field.tip' bs-tooltip='field.tip.join("")' type='button')

mixin tip-detail
    i.tip.fa.fa-question-circle(ng-if='detail.tip' bs-tooltip='detail.tip.join("")' type='button')

mixin details-row
    - var detailMdl = 'backupItem[field.group][backupItem[field.group][field.model]][detail.model]'

    div(ng-switch='detail.type')
        div(ng-switch-when='check')
            input(type='checkbox' ng-model=detailMdl)
            label(ng-click='#{detailMdl} = !#{detailMdl}') {{detail.label}}
            +tip-detail
        div(ng-switch-when='text')
            label.col-sm-2.details-label {{detail.label}}:
            .col-sm-3
                input.form-control(type='text' ng-model=detailMdl placeholder='{{field.model}}{{detail.model}}')
            +tip-detail
        div(ng-switch-when='dropdown')
            label.col-sm-2.details-label {{detail.label}}:
            .col-sm-3
                button.form-control(bs-select ng-model=detailMdl data-template='/select' data-placeholder='{{detail.placeholder}}' bs-options='item.value as item.label for item in {{detail.items}}')
            +tip-detail
        div(ng-switch-when='dropdown-multiple')
            label.col-sm-2.details-label {{detail.label}}:
            .col-sm-3
                button.form-control(bs-select ng-model=detailMdl data-multiple='1' data-template='/select' data-placeholder='{{detail.placeholder}}' bs-options='item.value as item.label for item in {{detail.items}}')
            +tip-detail

mixin form-row
    - var masterMdl = 'backupItem[field.group][field.model]'

    div(ng-switch='field.type')
        div(ng-switch-when='check')
            input(type='checkbox' ng-model='backupItem[field.model]')
            label(ng-click='backupItem[field.model] = !backupItem[field.model]') {{field.label}}
            +tip
        div(ng-switch-when='text')
            label.col-sm-2 {{field.label}}:
            .col-sm-3
                input.form-control(type='text' ng-model='backupItem[field.model]' placeholder='{{field.placeholder}}')
            +tip
        div(ng-switch-when='dropdown')
            label.col-sm-2 {{field.label}}:
            .col-sm-3
                button.form-control(bs-select ng-model='backupItem[field.model]' data-template='/select' data-placeholder='{{field.placeholder}}' bs-options='item.value as item.label for item in {{field.items}}')
            +tip
        div(ng-switch-when='dropdown-multiple')
            label.col-sm-2 {{field.label}}:
            .col-sm-3
                button.form-control(bs-select ng-model='backupItem[field.model]' data-multiple='1' data-template='/select' data-placeholder='{{field.placeholder}}' bs-options='item.value as item.label for item in {{field.items}}')
            +tip
        div(ng-switch-when='dropdown-details')
            label.col-sm-2 {{field.label}}:
            .col-sm-3
                button.form-control(bs-select ng-model=masterMdl data-template='/select' data-placeholder='{{field.placeholder}}' bs-options='item.value as item.label for item in {{field.items}}')
            +tip
            .details-row(ng-repeat='detail in field.details[#{masterMdl}]')
                +details-row
        div(ng-switch-when='indexedTypes')
            div
                button.btn.btn-primary(ng-click='editIndexedTypes()') Add indexed type
                +tip
            .col-sm-10.links(style='margin-left: 18px')
                table
                    tbody
                        tr
                            td
                                a 1. o.a.s.other.package.KeyClazz1, o.a.s.other.package.ValueClazz1&nbsp;
                                label.fa.fa-remove
                        tr
                            td
                                a 2. org.apache.some.KeyClazz2, og.a.s.v.v.long.package.ValueClazz3&nbsp;
                                label.fa.fa-remove

